*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: #8967B3;
}
.games{
  width: 62%;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3,auto);
  /*align-content: ;display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
}
.games div{
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}